body {
	background-color: #FFF0F5;
}

.cat img {
	width: 500px;
	height: 700px;
	border: 1px solid black;
}

.cat {
	height: 900px;
	width: 1200px;
	display: block;
	margin: auto;
	padding-left: 350px;
	padding-top: 100px;
	border: 1px solid black;
	background-color: #90EE90;
	box-shadow: 0px, 0px. 8px;
}

#play-1 {
	display: none;
}

#play-2 {
	display: none;
}

#play-3 {
	display: none;
}

#play-4 {
	display: none;
}

#lose {
	display: none;
	text-align: center;
	font-family: Arial;
	font-size: 36px;
	height: 300px;
	width: 300px;
	color: #FFFFFF;
	padding: 30px;
	padding-top: 30px;
	background-color: #FF0000;
}